#showuser{
  font-size: 13pt;
  font-weight: bold;
}

#username{
  width: 300px;
}

#usernameLabel{
  font-size: 13pt;
}

body{
  background-image: url("../images/git_sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.white{
  color: white;
}
